/* Light mode (default) */

:root {
  --bg-gradient: linear-gradient(180deg, #e2e9fd, #f1e8fe);
  --bg-gradient2: linear-gradient(180deg, #f1e8fe, #e2e9fd);

  --bg-color: #ffffff;
  --text-color: #111111;
  --primary-color: #007bff;
  --border-color: rgba(89, 29, 221, 0.3);
  --accent-color: #7a5af8;
  --span-border-color: rgba(0, 0, 0, 0.3);
  --footer-gradient: linear-gradient(180deg,#e2e9fd, #f1e8fe);
  --box-shadow: 0 20px 60px rgba(89, 29, 221, 0.2),
    0 12px 35px rgba(89, 29, 221, 0.15), 0 6px 18px rgba(89, 29, 221, 0.1),
    inset 0 1px 0 rgba(255, 255, 255, 0.3),
    inset 0 -1px 0 rgba(89, 29, 221, 0.08);
  --header-color: #E0E7FF;

}

/* Dark mode */
[data-theme="dark"] {
  --bg-gradient: linear-gradient(180deg, #0c0c0c, #270a46, #000000);
  --bg-gradient2: linear-gradient(180deg, #000000, #270a46, #0c0c0c);
  --header-color: #0c0c0c;

  --bg-color: #1a1a1a;
  --text-color: #f5f5f5;
  --primary-color: #1e90ff;
  --border-color: rgba(89, 29, 221, 0.4);
  --box-shadow: 0 25px 70px rgba(89, 29, 221, 0.25),
    /* Strong purple glow */ 0 15px 45px rgba(0, 0, 0, 0.5),
    /* Deep shadow */ 0 8px 25px rgba(0, 0, 0, 0.4),
    /* Close shadow */ inset 0 1px 0 rgba(255, 255, 255, 0.08),
    /* Inner highlight */ inset 0 -1px 0 rgba(0, 0, 0, 0.3); /* Inner shadow */
  --accent-color: #7a5af8;
  --span-border-color: rgba(255, 255, 255, 0.6);
  --footer-gradient: linear-gradient(180deg,#0c0c0c, #270a46, #000000);
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    sans-serif;
  background: var(--bg-gradient);
  color: var(--text-color);
  /* min-height: 100vh; */
  transition: all 0.3s ease;
}

.App {
  /* min-height: 100vh; */
  width: 100%;
  overflow-x: hidden;
}

button {
  background: var(--primary-color);
  color: white;
  border: none;
  padding: 10px 16px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  opacity: 0.9;
}
